{% extends "base.html" %}
{% set title = "API docs" %}
{% block content %}
    <h3>API Documentation</h3>
    <div class = "endpoint-container">
        <div class = "card dark-card endpoint">
            <div class = "card-body">
                <h5><span class = "badge bg-success">GET</span> <a data-bs-toggle = "collapse" href = "#apiEndpointStatus" role = "button" aria-expanded = "false">/api/status</a></h5>
                <div class = "collapse" id = "apiEndpointStatus">
                    <div class = "card card-body">
                        <p>Shows the latest status data available for all services.<br>Response Schema:</p>
                        <code><pre>{
    "data": {
        ads: {
            "code": 200,
            "guess": {
                "name": "up",
                "reason": "No problems detected"
            },
            "id": "ads",
            "machineID": "CHI1-WEB3953",
            "message": "OK",
            "name": "Ad Service",
            "ping": 170,
            "url": "https://ads.roblox.com"
        },
        ...
    ],
    "status": "online"
}</pre></code>
                        
                        <p>Example URL: https://robloxstatus.live/api/status</p>
                    </div>
                </div>
            </div>
        </div>
        <div class = "card dark-card endpoint">
            <div class = "card-body">
                <h5><span class = "badge bg-success">GET</span> <a data-bs-toggle = "collapse" href = "#apiEndpointHistorical" role = "button" aria-expanded = "false">/api/day/:date/:?service</a></h5>
                <div class = "collapse" id = "apiEndpointHistorical">
                    <div class = "card card-body">
                        <p>
                            Retrieves historical data for a given day (or optionally, a service on that day). The returned times are in the form of a UTC timestamp (ms). <br>
                            Response Schema (/api/day/:date):
                        </p>
                        <code><pre>{
    "data": {
        "1649269221476": {
            "ads": {
                "code": 200,
                "guess": {
                    "name": "up",
                    "reason": "No problems detected"
                },
                "id": "ads",
                "machineID": "CHI1-WEB3953",
                "message": "OK",
                "name": "Ad Service",
                "ping": 170,
                "url": "https://ads.roblox.com"
            }
        },
        ...
    },
    "status": "online"
}</pre></code>
                        <p>Response Schema (/api/day/:date/:service):</p>
                        <code><pre>{
    "data": {
        "1649269221476": {
            "code": 200,
            "guess": {
                "name": "up",
                "reason": "No problems detected"
            },
            "id": "ads",
            "machineID": "CHI1-WEB3953",
            "message": "OK",
            "name": "Ad Service",
            "ping": 170,
            "url": "https://ads.roblox.com"
        },
        ...
    }
}</pre></code>
                        <p>Example URL: https://robloxstatus.live/api/day/04-06-22/auth</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jstags %}
    <script>
        const DateTimeFormatter = new Intl.DateTimeFormat("en-US", { timeZone: "UTC", month: "2-digit", day: "2-digit", year: "2-digit" });
        const formatDate = (date = new Date()) => DateTimeFormatter.format(new Date(date)).replace(/\//g, "-");
        function downloadSelectedDS() {
            window.location.href = `/api/download?date=${formatDate($('#downloadSelect').val())}`;
        }
    </script>
{% endblock %}
